.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.chat-container {
  margin-top: 20px;
  /* background-image: url(''); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chat-list {
  height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background color */
}

.message {
  background-color:rgba(145, 187, 165, 0.9);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-form {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(145, 187, 165, 0.9); /* Add a semi-transparent white background color */
  box-shadow: 0px 0px 10px rgba(5, 5, 5, 0.1);
}

.send-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.send-button:hover {
  background-color: #0056b3;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

/* Optional: Style sender and receiver labels */
.form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Optional: Style input fields */
.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background color */
}

/* Optional: Style the sender and receiver fields */
.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* You can adjust the background image URL and colors to your preference */
